<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis配置-->
<configuration>
    <!--添加properties配置文件路径(外部配置、动态替换)-->
    <properties resource="jdbc.properties"></properties>
    <!-- 注意书写位置 -->
    <settings>
        <setting name="cacheEnabled" value="true"/> <!-- mybaits-config.xml中开启全局缓存（默认开启） -->
    </settings>
    <!--取别名-->
    <typeAliases>
        <typeAlias type="com.wxf.entity.User" alias="user"></typeAlias>
        <!--自动扫描包，将原类名作为别名-->
        <package name="com.wxf.entity"/>
    </typeAliases>
    <!--JDBC环境配置、选中默认环境-->
    <environments default="MySqlDB">
        <!--MySql数据库环境配置-->
        <environment id="MySqlDB">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <!-- &转义&amp; -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--Mapper注册-->
    <mappers>
        <!--注册Mapper文件的所在位置-->
        <mapper resource="com/wxf/dao/UserDaoMapper.xml"/>
        <mapper resource="com/wxf/dao/ProductDaoMapper.xml"/>
        <mapper resource="com/wxf/dao/ManagerDaoMapper.xml"/>
        <mapper resource="com/wxf/dao/PassengerDaoMapper.xml"/>
        <mapper resource="com/wxf/dao/DepartmentMapper.xml"/>
        <mapper resource="com/wxf/dao/EmployeeMapper.xml"/>
    </mappers>

</configuration>